body {
    background-color: #34495e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}

.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;

}
.figure-part{
  visibility: hidden;
}
svg{
  margin-top:60px ;
}

.letter {
  width: 40px;
  height: 40px;
  border-bottom: 5px solid #ffff;
  display: inline-block;
  margin-left: 10px;
  
}
.letter-container{
      
    text-align: center;
  }
  
.already-guessed {
  height: 100px;
  width: 300px;
  background-color: #3c556f;
  text-align: center;
}
.game-over {
  height: 100px;
  width: 200px;
  background-color: #3c556f;
  text-align: center;
  position: absolute;
  top: 100px;
  display: none;
}

.game-over-btn {
  padding: 10px 20px;
  background-color: rgb(102, 201, 204);
  color: #ffffff;
  margin-top: 20px;
}
.you-win {
  height: 100px;
  width: 200px;
  background-color: #3c556f;
  text-align: center;
  position: absolute;
  top: 100px;
  display: none;
}

.game-win{
  padding: 10px 20px;
  background-color: rgb(102, 201, 204);
  color: #ffffff;
  margin-top: 20px;
}

